/* autok formazas */
.jobbra {
    float: right;
}

.balra {
    float: left;
}

.jobbcim {
    text-align: right;
    color: rgb(50, 113, 207);
}

.balcim {
    text-align: left;
    color: rgb(50, 113, 207);
}
.autokbody{
    background-color: rgb(36, 36, 131);
}
.autokdiv{
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: rgb(206, 235, 235);
}
.autoktext{
    color: rgb(50, 113, 207);
}
/* altalanos formazas */

h1 {
    color: brown;
    text-align: center;
}

h2 {
    padding-top: 2rem;
    color: brown;
}

img {
    padding: 1rem;
}

p {
    color: cornsilk;
    padding-top: 1rem;
    text-align: justify;
}

div {
    padding-bottom: 3rem;
}


/* egyiptom formazas */
.egyiptombody {
    background-image: url(egyiptomkepek/egyiptomihatter.jpg);
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}


/* index formazas */
.indexbody {
    background-color: beige;
}

#nev {
    color: darkblue;
    text-align: center;
}

#balhref {
    float: left;
}

#jobbhref {
    float: right;
}

.egyiptomip {
    color: brown;
    size: 1px;
}

.egyiptomidiv {
    background-color: rgb(219, 188, 109);
    padding: 1rem;
}