/* autok formazas */
.ajobbra {
    float: right;
    padding: 1rem;
}

.abalra {
    float: left;
    padding: 1rem;
}

.jobbcim {
    text-align: right;
    color: rgb(50, 113, 207);
}

.balcim {
    text-align: left;
    color: rgb(50, 113, 207);
}

.autokbody {
    padding-bottom: 0rem;
    padding-top: 0rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: rgb(36, 36, 131);
}

.autokdiv {
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: rgb(206, 235, 235);
}

.autoktext {
    color: rgb(50, 113, 207);
}

/* altalanos formazas */

h1 {
    color: brown;
    text-align: center;
}

h2 {
    color: brown;
}


p {
    color: cornsilk;
    padding-top: 1rem;
    text-align: justify;
}

div {
    padding-bottom: 3rem;
}
.ahr{
    border-color:rgb(50, 113, 207);
}


/* egyiptom formazas */

.egyiptombody {
    background-image: url(egyiptomkepek/egyiptomihatter.jpg);
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}
.egyiptomihr{
    border-color: brown;
}
.ejobbra {
    float: right;
    border-style: dashed;
    padding: 0.5rem;
    margin: 0.5rem;
}
.ebalra {
    float: left;
    border-style: dashed;
    padding: 0.5rem;
    margin: 0.5rem;
}
.egyiptomip {
    color: brown;
    size: 1px;
}

.egyiptomidiv {
    background-color: rgb(219, 188, 109);
    padding: 1rem;
}

/* index formazas */
.indexbody {
    background-color: beige;
}

#nev {
    color: darkblue;
    text-align: center;
}

#balhref {
    float: left;
}

#jobbhref {
    float: right;
}